/* body {
    background-color: lightgray;
} */

.product-wrapper
{
    margin: 0.5em auto;
    width: 100%;
    font: 18px / 1.5 sans-serif;
}

.sidebar
{
    margin-bottom: 30px;
    padding-bottom: 15px;
}

#page-container
{
    top: 3rem;
}

#header
{
    position:fixed;
    top: 0;
}

.m-b-0
{
    margin-top: 50px;
}

.badge-cart-void 
{
    background-color: #B5067F;
    color: #FFD80A;
}

.post .post-thumbnail .badge
{
    position: static;
}

#map-example-container
{ 
    height: 300px 
}

#firstName
{
    background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-size: 16px 18px; 
    background-position: 98% 50%;
}

#adresses-panel
{
    margin-bottom: 30px;
    margin-left: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
}

#map-example-container
{
    height: 300px;
    position: relative;
}

.leaflet-container {
    height: 300px;
    width: 100%;
  }
/* .leaflet-container
{
    background: #ddd;
    outline: 0;
    overflow: hidden;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-grab
{
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.leaflet-pane
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400;
    transform: translate3d(0px, 0px, 0px);
}

.leaflet-tile-pane
{
    z-index:200;
}

.leaflet-shadow-pane
{
    z-index:500;
}

.leaflet-overlay-pane
{
    z-index:400;
}

.leaflet-marker-pane
{
    z-index:600;
}

.leaflet-tooltip-pane
{
    z-index:650;
}

.leaflet-popup-pane
{
    z-index:700;
    cursor: auto;
}

.leaflet-zoom-animated
{
    transform: translate3d(42866px, 36744px, 0px) scale(128);
    transform-origin: 0 0;
} */