{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="#" id="add_variant" class="btn btn-default">Add a variant</a>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var $container = $('div#product_variants');
        var index = $container.find(':input').length;

    $('#add_variant').click(function(e) {
        addVariant($container);

        e.preventDefault();
        return false;
    });

    if (index == 0) {
        addVariant($container);
    } else {
        $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    function addVariant($container) {
        var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Variant N°' + (index+1))
                                .replace(/__name__/g,        index);

        var $prototype = $(template);
        addDeleteLink($prototype);
        $container.append($prototype);
        index++;
    }

    function addDeleteLink($prototype) {
        var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
        $prototype.append($deleteLink);
        $deleteLink.click(function(e) {
            $prototype.remove();
            e.preventDefault();
            return false;
        });
    }
  });
</script>
